# Import libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sqlalchemy
from psycopg2.extras import NumericRange
password = open('../password.txt', 'r').read()

# Get data from database

In [2]:
engine = sqlalchemy.create_engine("postgresql://postgres:%s@localhost/MAYHEM-Example" % password)
con = engine.connect()

In [3]:
measurement = pd.read_sql('measurement', con)
chironomid = pd.read_sql('chironomid', con)
diatom = pd.read_sql('diatom', con)
element = pd.read_sql('element', con)
grainsize = pd.read_sql('grainsize', con)
mineral = pd.read_sql('mineral', con)
organics = pd.read_sql('organic', con)
pollen = pd.read_sql('pollen', con)
model = pd.read_sql('modeloutput', con)

In [4]:
con.close()

# Prep data

In [5]:
tc = organics[['measurementid','tc']].copy()
tc = tc[tc['tc'].astype(str) != 'None']
toc = organics[['measurementid','toc']].copy()
toc = toc[toc['toc'].astype(str) != 'None']
d13c = organics[['measurementid','d13c']].copy()
d13c = d13c[d13c['d13c'].astype(str) != 'None']

In [6]:
depth_chironomid = chironomid['measurementid'].drop_duplicates()
depth_diatom = diatom['measurementid'].drop_duplicates()
depth_element = element['measurementid'].drop_duplicates()
depth_grainsize = grainsize['measurementid'].drop_duplicates()
depth_mineral = mineral['measurementid'].drop_duplicates()
depth_pollen = pollen['measurementid'].drop_duplicates()
depth_tc = tc['measurementid'].drop_duplicates()
depth_toc = toc['measurementid'].drop_duplicates()
depth_d13c = d13c['measurementid'].drop_duplicates()

# Resolution TOC

In [7]:
depth_toc_res = pd.merge(depth_toc, measurement, how = 'left', on = ['measurementid']).drop('measurementid', axis = 1).drop_duplicates()
depth_toc_res = depth_toc_res.sort_values(by = ['coreid', 'compositedepth'], ignore_index = True)
toc_res = pd.DataFrame()
for i in depth_toc_res.coreid.unique():
    diff_check = depth_toc_res[depth_toc_res['coreid'] == i].compositedepth.diff().dropna()
    core_array = [[i, diff_check.mean(), diff_check.min(), diff_check.max()]]
    toc_res = toc_res.append(core_array)
toc_res.rename(columns = {0 : 'CoreID', 1: 'Mean_depth_toc', 2: 'Min_depth_toc', 3: 'Max_depth_toc'}, inplace = True)
toc_res.describe()

       Mean_depth_toc  Min_depth_toc  Max_depth_toc
count       23.000000      23.000000      23.000000
mean         5.988248       2.945652      11.532609
std          5.247859       3.093208      11.034117
min          0.617366       0.500000       1.000000
25%          1.949495       1.000000       2.125000
50%          4.746835       2.000000      10.000000
75%          9.646904       2.500000      19.500000
max         20.181818      10.000000      40.000000

# Resolution Chironomid

In [8]:
depth_chironomid_res = pd.merge(depth_chironomid, measurement, how = 'left', on = ['measurementid']).drop('measurementid', axis = 1).drop_duplicates()
depth_chironomid_res = depth_chironomid_res.sort_values(by = ['coreid', 'compositedepth'], ignore_index = True)
chironomid_res = pd.DataFrame()
for i in depth_chironomid_res.coreid.unique():
    diff_check = depth_chironomid_res[depth_chironomid_res['coreid'] == i].compositedepth.diff().dropna()
    core_array = [[i, diff_check.mean(), diff_check.min(), diff_check.max()]]
    chironomid_res = chironomid_res.append(core_array)
chironomid_res.rename(columns = {0 : 'CoreID', 1: 'Mean_depth_chironomid', 2: 'Min_depth_chironomid', 3: 'Max_depth_chironomid'}, inplace = True)
chironomid_res.describe()

       Mean_depth_chironomid  Min_depth_chironomid  Max_depth_chironomid
count               4.000000                4.0000              4.000000
mean               14.082162                4.4375             38.500000
std                 4.136096                0.8750             16.299284
min                 8.428571                4.0000             15.000000
25%                12.411664                4.0000             33.750000
50%                15.012538                4.0000             44.500000
75%                16.683036                4.4375             49.250000
max                17.875000                5.7500             50.000000

# Resolution Diatom

In [9]:
depth_diatom_res = pd.merge(depth_diatom, measurement, how = 'left', on = ['measurementid']).drop('measurementid', axis = 1).drop_duplicates()
depth_diatom_res = depth_diatom_res.sort_values(by = ['coreid', 'compositedepth'], ignore_index = True)
diatom_res = pd.DataFrame()
for i in depth_diatom_res.coreid.unique():
    diff_check = depth_diatom_res[depth_diatom_res['coreid'] == i].compositedepth.diff().dropna()
    core_array = [[i, diff_check.mean(), diff_check.min(), diff_check.max()]]
    diatom_res = diatom_res.append(core_array)
diatom_res.rename(columns = {0 : 'CoreID', 1: 'Mean_depth_diatom', 2: 'Min_depth_diatom', 3: 'Max_depth_diatom'}, inplace = True)
diatom_res.describe()

       Mean_depth_diatom  Min_depth_diatom  Max_depth_diatom
count          12.000000         12.000000         12.000000
mean            9.886305          2.875000         33.833333
std             7.601217          2.111925         67.219901
min             1.162162          0.500000          5.000000
25%             4.632651          1.750000          7.500000
50%             9.668643          2.000000         12.500000
75%            12.743939          4.250000         20.250000
max            28.880000          7.000000        245.000000

# Resolution Element

In [18]:
element_res

    CoreID  Mean_depth_element  Min_depth_element  Max_depth_element
0     PER3            9.811594                2.5               13.5
0   PG1111            9.422414                5.0               30.0
0   PG1238           41.000000                8.0               66.0
0   PG1755            0.508438                0.5                4.0
0   PG1756            1.015660                1.0                3.0
0   PG1856            1.010965                1.0                2.0
0   PG1857            1.012500                1.0                2.0
0   PG1890            1.164384                1.0                6.0
0   PG1972            0.200000                0.2                0.2
0   PG1975            0.198238                0.1                0.2
0   PG1982            0.200000                0.2                0.2
0   PG1984            1.000000                1.0                1.0
0   PG2023            0.500000                0.5                0.5
0   PG2133            0.893795                0.5                1.0
0   PG2135            1.000000                1.0                1.0
0   PG2208            1.002740                1.0                2.0
0   PG2367            0.500000                0.5                0.5
0  Tel2006            1.025266                0.5                2.0

In [10]:
depth_element_res = pd.merge(depth_element, measurement, how = 'left', on = ['measurementid']).drop('measurementid', axis = 1).drop_duplicates()
depth_element_res = depth_element_res.sort_values(by = ['coreid', 'compositedepth'], ignore_index = True)
element_res = pd.DataFrame()
for i in depth_element_res.coreid.unique():
    diff_check = depth_element_res[depth_element_res['coreid'] == i].compositedepth.diff().dropna()
    core_array = [[i, diff_check.mean(), diff_check.min(), diff_check.max()]]
    element_res = element_res.append(core_array)
element_res.rename(columns = {0 : 'CoreID', 1: 'Mean_depth_element', 2: 'Min_depth_element', 3: 'Max_depth_element'}, inplace = True)
element_res.describe()

       Mean_depth_element  Min_depth_element  Max_depth_element
count           18.000000          18.000000          18.000000
mean             3.970333           1.416667           7.505556
std              9.678580           1.992117          16.278585
min              0.198238           0.100000           0.200000
25%              0.502109           0.500000           0.625000
50%              1.001370           1.000000           2.000000
75%              1.022864           1.000000           3.750000
max             41.000000           8.000000          66.000000

# Resolution Grain Size

In [11]:
depth_grainsize_res = pd.merge(depth_grainsize, measurement, how = 'left', on = ['measurementid']).drop('measurementid', axis = 1).drop_duplicates()
depth_grainsize_res = depth_grainsize_res.sort_values(by = ['coreid', 'compositedepth'], ignore_index = True)
grainsize_res = pd.DataFrame()
for i in depth_grainsize_res.coreid.unique():
    diff_check = depth_grainsize_res[depth_grainsize_res['coreid'] == i].compositedepth.diff().dropna()
    core_array = [[i, diff_check.mean(), diff_check.min(), diff_check.max()]]
    grainsize_res = grainsize_res.append(core_array)
grainsize_res.rename(columns = {0 : 'CoreID', 1: 'Mean_depth_grainsize', 2: 'Min_depth_grainsize', 3: 'Max_depth_grainsize'}, inplace = True)
grainsize_res.describe()

       Mean_depth_grainsize  Min_depth_grainsize  Max_depth_grainsize
count             10.000000            10.000000            10.000000
mean              15.511733             8.950000            23.500000
std               22.095375            13.458682            34.763487
min                2.000000             0.500000             2.000000
25%                2.056604             2.000000             2.500000
50%                7.925000             3.000000            12.000000
75%               18.990143             9.250000            23.750000
max               74.714286            45.000000           116.000000

# Resolution Mineral

In [12]:
depth_mineral_res = pd.merge(depth_mineral, measurement, how = 'left', on = ['measurementid']).drop('measurementid', axis = 1).drop_duplicates()
depth_mineral_res = depth_mineral_res.sort_values(by = ['coreid', 'compositedepth'], ignore_index = True)
mineral_res = pd.DataFrame()
for i in depth_mineral_res.coreid.unique():
    diff_check = depth_mineral_res[depth_mineral_res['coreid'] == i].compositedepth.diff().dropna()
    core_array = [[i, diff_check.mean(), diff_check.min(), diff_check.max()]]
    mineral_res = mineral_res.append(core_array)
mineral_res.rename(columns = {0 : 'CoreID', 1: 'Mean_depth_mineral', 2: 'Min_depth_mineral', 3: 'Max_depth_mineral'}, inplace = True)
mineral_res.describe()

       Mean_depth_mineral  Min_depth_mineral  Max_depth_mineral
count            9.000000           9.000000           9.000000
mean            12.224079           3.611111          31.166667
std             15.260841           2.472066          42.670247
min              2.000000           0.500000           2.000000
25%              4.772727           2.000000           8.000000
50%              5.865079           3.000000          20.000000
75%              9.480769           4.000000          26.500000
max             49.333333           8.000000         140.000000

# Resolution Pollen

In [13]:
depth_pollen_res = pd.merge(depth_pollen, measurement, how = 'left', on = ['measurementid']).drop('measurementid', axis = 1).drop_duplicates()
depth_pollen_res = depth_pollen_res.sort_values(by = ['coreid', 'compositedepth'], ignore_index = True)
pollen_res = pd.DataFrame()
for i in depth_pollen_res.coreid.unique():
    diff_check = depth_pollen_res[depth_pollen_res['coreid'] == i].compositedepth.diff().dropna()
    core_array = [[i, diff_check.mean(), diff_check.min(), diff_check.max()]]
    pollen_res = pollen_res.append(core_array)
pollen_res.rename(columns = {0 : 'CoreID', 1: 'Mean_depth_pollen', 2: 'Min_depth_pollen', 3: 'Max_depth_pollen'}, inplace = True)
pollen_res.describe()

       Mean_depth_pollen  Min_depth_pollen  Max_depth_pollen
count          11.000000         11.000000         11.000000
mean            8.843694          2.772727         26.181818
std             7.358886          2.639731         31.182746
min             0.849265          0.500000          1.000000
25%             3.282162          1.000000          6.500000
50%             8.783019          2.000000         15.000000
75%            10.934091          3.500000         29.000000
max            25.797753          8.000000        100.000000

# Resolution TC

In [14]:
depth_tc_res = pd.merge(depth_tc, measurement, how = 'left', on = ['measurementid']).drop('measurementid', axis = 1).drop_duplicates()
depth_tc_res = depth_tc_res.sort_values(by = ['coreid', 'compositedepth'], ignore_index = True)
tc_res = pd.DataFrame()
for i in depth_tc_res.coreid.unique():
    diff_check = depth_tc_res[depth_tc_res['coreid'] == i].compositedepth.diff().dropna()
    core_array = [[i, diff_check.mean(), diff_check.min(), diff_check.max()]]
    tc_res = tc_res.append(core_array)
tc_res.rename(columns = {0 : 'CoreID', 1: 'Mean_depth_tc', 2: 'Min_depth_tc', 3: 'Max_depth_tc'}, inplace = True)
tc_res.describe()

       Mean_depth_tc  Min_depth_tc  Max_depth_tc
count      12.000000     12.000000     12.000000
mean        3.882988      1.854167      7.645833
std         2.939048      1.367057      7.691833
min         1.000000      0.500000      1.000000
25%         1.951047      1.000000      2.187500
50%         2.016393      2.000000      3.500000
75%         5.287324      2.000000     10.250000
max         9.934615      5.750000     25.000000

# Resolution d13C

In [15]:
depth_d13c_res = pd.merge(depth_d13c, measurement, how = 'left', on = ['measurementid']).drop('measurementid', axis = 1).drop_duplicates()
depth_d13c_res = depth_d13c_res.sort_values(by = ['coreid', 'compositedepth'], ignore_index = True)
d13c_res = pd.DataFrame()
for i in depth_d13c_res.coreid.unique():
    diff_check = depth_d13c_res[depth_d13c_res['coreid'] == i].compositedepth.diff().dropna()
    core_array = [[i, diff_check.mean(), diff_check.min(), diff_check.max()]]
    d13c_res = d13c_res.append(core_array)
d13c_res.rename(columns = {0 : 'CoreID', 1: 'Mean_depth_d13c', 2: 'Min_depth_d13c', 3: 'Max_depth_d13c'}, inplace = True)
d13c_res.describe()

       Mean_depth_d13c  Min_depth_d13c  Max_depth_d13c
count        12.000000        12.00000       12.000000
mean          6.856894         3.25000       16.041667
std           5.913706         3.46082       16.020524
min           0.617366         0.50000        1.000000
25%           1.782965         1.00000        5.000000
50%           6.241937         1.50000       12.000000
75%           9.939487         4.75000       22.500000
max          20.181818        10.00000       50.000000

In [16]:
print (f'Chironomids: {len(depth_chironomid_res)}')
print (f'Diatom: {len(depth_diatom_res)}')
print (f'Element: {len(depth_element_res)}')
print (f'Grain Size: {len(depth_grainsize_res)}')
print (f'Mineral: {len(depth_mineral_res)}')
print (f'Pollen: {len(depth_pollen_res)}')
print (f'TC: {len(depth_tc_res)}')
print (f'TOC: {len(depth_toc_res)}')
print (f'd13C: {len(depth_d13c_res)}')

Chironomids: 152
Diatom: 437
Element: 8388
Grain Size: 462
Mineral: 418
Pollen: 760
TC: 1169
TOC: 2130
d13C: 1166

In [17]:
depth_chironomid
depth_diatom
depth_element
depth_grainsize
depth_mineral
depth_pollen
depth_tc
depth_toc 
depth_d13c

0       CON01-603-5 147
1       CON01-603-5 149
2       CON01-603-5 151
3       CON01-603-5 153
4       CON01-603-5 155
             ...
5420     Tel2006 158.75
5421     Tel2006 159.75
5422     Tel2006 160.25
5423     Tel2006 161.75
5424     Tel2006 162.25
Name: measurementid, Length: 1166, dtype: object